@model WebParking.ViewModels.ClientCreateViewModel

@{
    ViewData["Title"] = "Создание клиента";
}


@using (Html.BeginForm("CreatePost", "Clients"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, "Имя")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>

    <br />

    <label for="LastName">Фамилия</label>
    <br />
    @Html.TextBoxFor(model => model.LastName)
    <br />

    <label for="Telephone">Телефон</label>
    <br />
    @Html.TextBoxFor(model => model.Telephone)
    <br />

    <label for="DateOfBirth">Дата рождения</label>
    <br />
    <input type="date" name="DateOfBirth">
    <br />

    <label for="Passport">Документ, удостоверяющий личность</label>
    <br />
    @Html.TextBoxFor(model => model.Passport)
    <br />

    <label for="Notes">Примечания</label>
    <br />
    @Html.TextBoxFor(model => model.Notes)
    <br />



    <input type="submit" value="Сохранить" />
}
