@model WebParking.ViewModels.ClientEditViewModel

@{
    ViewData["Title"] = "Редактирование клиента";
}


@using (Html.BeginForm("EditPost", "Clients"))
{
    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x => x.LastName, "Фамилия")
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>

    <input asp-for="Id" hidden />
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, "Имя")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.MiddleName, "Отчество")
        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Telephone, "Телефон")
        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.DateOfBirth, "Дата рождения")
        <input type="date" asp-for="DateOfBirth" class="form-control">
        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.DocumentType, "Тип документа, удостоверяющего личность")
        @Html.DropDownListFor(model => model.DocumentType, ViewBag.DocumentTypes as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true })
        @Html.ValidationMessageFor(model => model.DocumentType, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.Passport, "Документ, удостоверяющий личность")
        @Html.TextBoxFor(model => model.Passport, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Passport, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Notes, "Примечания")
        @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Сохранить" class="btn btn-primary" />

}
