@model List<WebParking.Domain.Models.Client>

@{
    ViewData["Title"] = "Клиенты";
}

@section Styles {
    <link id="datatable-lang" href="~/lib/datatables/Russian.json" />
}

<div class="row">
    <div class="col-12">
        <a type="button" class="btn btn-primary float-right mb-3" href="/Clients/Create">Создать нового клиента</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Телефон</th>
                    <th>Дата рождения</th>
                    <th>Тип документа</th>
                    <th>Номер документа</th>
                    <th>Примечания</th>
                    <th>Ответственный</th>
                    <th>Создан</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elem in Model)
                {
                <tr>
                    <td>@elem.LastName</td>
                    <td>@elem.FirstName</td>
                    <td>@elem.MiddleName</td>
                    <td>@elem.Telephone</td>
                    <td>@elem.DateOfBirth.ToString("dd.MM.yyyy")</td>
                    <td>@ClientsController.DocTypesDesc[elem.DocumentType]</td>
                    <td>@elem.Document</td>
                    <td>@elem.Notes</td>
                    <td>@elem.Responsible.FullName</td>
                    <td>@elem.Creation</td>
                    <td>
                        <a role="button" class="btn btn-primary" asp-controller="Clients" asp-action="Edit" asp-route-id="@elem.Id"><i class="fas fa-edit"></i></a>
                        <button onclick="deleteConfirm(@elem.Id, '@($"{elem.LastName} {elem.FirstName} {elem.MiddleName}")')" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                }
            </tbody>

        </table>

    </div>
</div>

@section Scripts{
    <script>
        function deleteConfirm(id, name) {

            var isConfirmed = confirm(`Вы действительно хотите удалить клиента ${name}`);

            if (isConfirmed) {
                $.post('@Url.Action("Delete", "Clients")', { id }, function (result) {
                    console.log(result)
                    document.location.reload();
                })

            }

        }
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    url: $("#datatable-lang").attr("href")
                },
            });
        });
    </script>
}

