@model List<WebParking.Domain.Models.ParkingPlace>

@{
    ViewData["Title"] = "Парковочное место";
}

@section Styles {
    <link id="datatable-lang" href="~/lib/datatables/Russian.json" />
}

<div class="row">
    <div class="col-12">
        <a type="button" class="btn btn-primary float-right mb-3" href="/ParkingPlace/Create">Создать новое парковочное место</a>
        <a type="button" class="btn btn-primary float-right mb-3 mr-2" href="/ParkingPlace/Create">Заполнить</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Свободно</th>
                    <th>Примечания</th>
                    <th>Создан</th>
                    <th>Ответственный</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elem in Model)
                {
                <tr>
                    <td>@elem.Name</td>
                    <td>@elem.Free</td>
                    <td>@elem.Notes</td>
                    <td>@elem.Responsible.FullName</td>
                    <td>@elem.Creation</td>
                    <td>
                        <a role="button" class="btn btn-primary" asp-controller="ParkingPlace" asp-action="Edit" asp-route-id="@elem.Id"><i class="fas fa-edit"></i></a>
                        <button onclick="deleteConfirm(@elem.Id, '@($"{elem.Name}")')" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

    @section Scripts{
        <script>
            function deleteConfirm(id, name) {

                var isConfirmed = confirm(`Вы действительно хотите удалить парковочное место? ${name}`);

                if (isConfirmed) {
                    $.post('@Url.Action("Delete", "ParkingPlace")', { id }, function (result) {
                        console.log(result)
                        document.location.reload();
                    })

                }

            }
            $(document).ready(function () {
                $('#myTable').DataTable({
                    language: {
                        url: $("#datatable-lang").attr("href")
                    },
                });
            });
        </script>
    }

