@model WebParking.ViewModels.CarEditViewModel

@{
    ViewData["Title"] = "Изменение транспортного средства";
}

@using (Html.BeginForm("EditPost", "Car"))
{
    <input asp-for="Id" hidden />
    <div class="form-group">
        @Html.LabelFor(x => x.ClientId, "Клиент")
        @Html.DropDownListFor(model => model.ClientId, ViewBag.Clients as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true })
        @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Mark, "Марка")
        @Html.TextBoxFor(model => model.Mark, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Mark, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CategoryId, "Категория транспортного средства")
        @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true })
        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.StateNumber, "Госномер")
        @Html.TextBoxFor(model => model.StateNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StateNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Color, "Цвет")
        @Html.TextBoxFor(model => model.Color, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Condition, "Состояние")
        @Html.TextBoxFor(model => model.Condition, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Condition, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Notes, "Примечания")
        @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Сохранить" class="btn btn-primary" />

}
