@model WebParking.ViewModels.ClientCategoriesEditViewModel

@{
    ViewData["Title"] = "Изменение категории клиента";
}

@using (Html.BeginForm("EditPost", "ClientCategories"))
{
    <input asp-for="Id" hidden />
    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Наименование")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Notes, "Примечания")
        @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Сохранить" class="btn btn-primary" />
}
