@model List<WebParking.ViewModels.MoneyReportViewModel>

@{
    ViewData["Title"] = "Прибыль по клиенту за период";
}

@section Styles {
    <link id="datatable-lang" href="~/lib/datatables/Russian.json" />
}

@*@using (Html.BeginForm("MoneyPost", "Reports"))
    //{
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(x => x.ClientId, "Клиент")
            @Html.DropDownListFor(model => model.ClientId, ViewBag.Clients as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @disabled = true })
            @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
        </div>
        <div class="col-12">
            <a type="button" class="btn btn-primary float-right mb-3" href="/Reports/Money"> <i class="fas fa-plus-square"></i> Сформировать отчёт</a>
        </div>
    </div>*@
    <div class="row">
        <div class="col-12">
            <table id="myTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Событие</th>
                        <th>Клиент</th>
                        <th>Транспортное средство</th>
                        <th>Тариф</th>
                        <th>Парковочное место</th>
                        <th>Дата заезда</th>
                        <th>Дата выезда</th>
                        <th>Время стоянки</th>
                        <th>Стоимость</th>
                        <th>Примечания</th>
                        <th>Ответственный</th>
                        <th>Создан</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var elem in Model)
                    {
                        <tr>
                            <td>@CheckInOutController.CheckTypesDesc[elem.CheckType]</td>
                            <td>@elem.Client.FullName</td>
                            <td>@elem.Car.Mark</td>
                            <td>@elem.Tariff.Name</td>
                            <td>@elem.ParkingPlace.Name</td>
                            <td>@elem.DateCheckIn.ToString()</td>
                            @if (@elem.DateCheckOut.ToString("dd.MM.yyyy") == "01.01.0001")
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td>@elem.DateCheckOut.ToString("dd.MM.yyyy hh:mm:ss")</td>
                            }
                            @if (@elem.TotalHours.ToString() == "0")
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td>@elem.TotalHours.ToString("F2")</td>
                            }
                            @if (@elem.Sum.ToString() == "0")
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td>@elem.Sum.ToString("F2")</td>
                            }
                            <td>@elem.Notes</td>
                            <td>@elem.Responsible.FullName</td>
                            <td>@elem.Creation</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
}
