@model WebParking.ViewModels.CheckInOutEditViewModel

@{
    ViewData["Title"] = "Изменение зарегистрированное события";
}

@using (Html.BeginForm("EditPost", "CheckInOut"))
{
    <input asp-for="Id" hidden />

    <div class="form-group">
        @Html.LabelFor(x => x.CheckType, "Событие")
        @Html.DropDownListFor(model => model.CheckType, ViewBag.CheckTypes as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true, @disabled = "false" })
        @Html.ValidationMessageFor(model => model.CheckType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ClientId, "Клиент")
        @Html.DropDownListFor(model => model.ClientId, ViewBag.Clients as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true, @disabled = "false" })
        @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CarId, "Транспортное средство")
        @Html.DropDownListFor(model => model.CarId, ViewBag.Cars as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true, @disabled = "false" })
        @Html.ValidationMessageFor(model => model.CarId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.DateCheckIn, "Дата заезда")
        <input type="datetime-local" asp-for="DateCheckIn" class="form-control">
        @Html.ValidationMessageFor(model => model.DateCheckIn, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.DateCheckOut, "Дата выезда")
        <input type="datetime-local" asp-for="DateCheckOut" class="form-control">
        @Html.ValidationMessageFor(model => model.DateCheckOut, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.TariffId, "Тариф")
        @Html.DropDownListFor(model => model.TariffId, ViewBag.Tariffies as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true })
        @Html.ValidationMessageFor(model => model.TariffId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ParkingPlaceId, "Парковочное место")
        @Html.DropDownListFor(model => model.ParkingPlaceId, ViewBag.ParkingPlaces as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", @data_live_search = true })
        @Html.ValidationMessageFor(model => model.ParkingPlaceId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Notes, "Примечания")
        @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Сохранить" class="btn btn-primary" />
}